.customTitle {
  text-align:center;
  font-family: var(--course-page-font);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: var(--course-page-font);
}

.customSubtitle {
  font-family: var(--course-page-font);
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: var(--black);
}

.listItem {
  &.underlined {
    width: 920px;
    font-family: var(--course-page-font);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: var(--black);
    text-decoration: underline;
  }
  &._listItem_1hgjm_54 {
    width: 920px;
    font-family:  var(--course-page-font);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: var(--black);
  }
}

.course__box {
  width: 100%;
  max-width: 920px;
  margin-top: 10px;
  padding: 15px;
  background: var(--course-box-color);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 
              0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  list-style: none;
  max-height: none;
  overflow: visible;
}

.listItem {
  font-size: 18px;
  margin-bottom: 5px;
}

.fabButton {
  width: 50px !important;
  height: 50px !important;
  min-width: 50px !important;
  min-height: 50px !important;
  margin: auto 0 !important;
  background: #EADDFF !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 50% !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #1E1E1E !important;
  line-height: 24px !important;
  margin-right: 16px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  &:hover {
    background: #D0BCFF !important;
  }
}



.accordionContainer {
  width: 100% !important;
  max-width: 1040px !important;
  background: rgba(208, 188, 255, 0.15) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 20px !important;
  padding: 20px !important;
  margin: 20px auto !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 0px !important;
}


.accordionDetails {
  background-color: transparent !important;
  box-shadow: none !important;
  border-bottom: none !important;
}

.accordionSummary {
  background-color: transparent !important;
  box-shadow: none !important;
  border-bottom: none !important;
  margin: 0 !important;
  display: flex !important;
  align-items: center !important;
  gap: 16px !important;
  flex-wrap: nowrap !important;
}

.accordion {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
  margin: 0 !important;

  &:before {
    display: none !important;
  }
}