APP_ENV=development
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=algo-hack
POSTGRES_SSLMODE=disable

# Production alternative:
# DB_DSN=postgres://user:password@db.example:5432/algo-hack?sslmode=require
