.customTitle {
  text-align:center;
  font-family: 'Comfortaa', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  color: #230047;
}

.customSubtitle {
  font-family: 'Comfortaa', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 28px;
  color: var(--black);
}

.underlined {
  text-decoration: underline;
}

.listItem {
  &.underlined {
    width: 920px;
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: var(--black);
    text-decoration: underline;
  }
  &._listItem_1hgjm_54 {
    width: 920px;
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: var(--black);
  }
}


.course__box {
  width: 100%;
  max-width: 920px;
  margin-top: 10px;
  padding: 15px;
  background: #eaddff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 
              0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  list-style: none;
  max-height: none;
  overflow: visible;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.section__title {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
}

.circle {
  position: relative;
  width: 50px;
  height: 50px;
  background: #EADDFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.number {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #1E1E1E;
  line-height: 24px;
  text-align: center;
  transform: none;
}


.subtitle {
  font-family: var( --course-page-font);
  font-size: 25px;
  font-weight: 500;
  color: var(--black);
}

.open {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.section__title span:not(.open) {
  transition: transform 0.3s ease;
}

.course__box {
  margin-left: 60px;
  padding-left: 10px;
  list-style: none;
}

.listItem {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
}
.arrow {
  margin-left: auto;
  width: 10px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}
.arrow.open {
  transform: rotate(225deg);
}
.rectangle {
  width: 100%;
  max-width: 1040px;
  background: rgba(208, 188, 255, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


