.name {
    font-size: 1.9rem !important; 
    font-family: var(--primary-font) !important; 
    font-weight: bold !important; 
    text-align: center !important; 
    @media (min-width: 749px) and (max-width: 950px) {
      font-size: 1.5rem !important;
    }
    @media (min-width: 600px) and (max-width: 749px) {
      font-size: 1.2rem !important;
    }
  }
    
  .role {
    font-size: 1.6rem !important; 
    font-family: var(--primary-font) !important; 
    font-style: italic !important;
    color: var(--black); 
    text-align: center;
    @media (min-width: 749px) and (max-width: 950px) {
      font-size: 1.3rem !important;
    }
    @media (min-width: 600px) and (max-width: 749px) {
      font-size: 1rem !important;
    }
  }
  
  .description {
    font-size: 1.6rem !important; 
    font-family: var(--primary-font) !important; 
    line-height: 1.5 !important; 
    color: var(--black); 
    @media (min-width: 749px) and (max-width: 950px) {
      font-size: 1.3rem !important;
    }
    @media (min-width: 600px) and (max-width: 749px) {
      font-size: 1rem !important;
    }
  }
  
  .skills {
    font-size: 1.6rem !important; 
    font-family: var(--primary-font) !important;
    font-weight: 500 !important; 
    color: var(--black); 
    @media (min-width: 749px) and (max-width: 950px) {
      font-size: 1.3rem !important;
    }
    @media (min-width: 600px) and (max-width: 749px) {
      font-size: 1rem !important;
    }
  }
  
  .card_style {
    width: 80vw;
    max-width: 987px !important; 
    background-color: var(--background-color-lilac) !important;
    border-radius: 20px !important;
    margin: auto !important;
    flex-direction: row !important;
    transition: all 0.3s ease !important;
  
  }
  
  .left_part {
    padding: 16px; 
    }
    
  .photo {
    aspect-ratio: 41 / 61 !important; 
    border-radius: 20px !important;
  }
      
  .right_part {
    flex: 1 !important; 
    flex-direction: column !important;
    justify-content: space-between !important;
    overflow: auto !important;
  }
  
  .divider {
    border-bottom-width: 2px !important;
    border-color: var(--black) !important;
  }
  
  