:global {
  .swiper-button{
    &-next, 
    &-prev {
      color: var(--black); 
      width: 6%; 
    }
  }
}

.about_page_container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.swiper_container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1200px;
  max-height: 780px; 
  box-sizing: border-box;
  z-index: 1;
}

.button_container {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(700%);
  z-index: 2;
}

.contact_button {
  padding: 10px 20px !important;
  background-color: var(--pink) !important;
  color: var(--secondary-color) !important;
  text-transform: none !important;
  font-family: var(--primary-font) !important;
  border-radius: 7px !important;
}

.size {
  width: 100% !important;
}