// Color variable
$primary-color: #9b59b6;
$background-color: #F2F0F0;
$background-color-none-use: #dddddd;
$black: #000;
$secondary-color: #fff;
$pink: #B13EEA;

// Fonts
$primary-font: 'Comfortaa', cursive;
$secondary-font: "Archivo Black", sans-serif;

// Sizes
$base-spacing: 16px;
$border-radius: 8px;
