.levitate {
  transform-origin: center;
  animation: none; 
  cursor: pointer;
  transform: translateY(0);
  transition: transform .5s linear;
  animation: levitate 3s ease-in-out infinite;
  animation-play-state: paused;
  animation-fill-mode: forwards;

  &.hover {
    transform: translateY(-10px);
    transition: transform .5s linear;
  }
  
  &.animating {
    transition: transform .5s linear;
    animation: levitate 3s ease-in-out infinite;
    animation-play-state: running;
  }
}


  
@keyframes levitate {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(-10px);
  }
}
