.name {
    font-size: 28px !important; /* Размер шрифта */
    font-family: "Comfortaa", sans-serif !important; /* Шрифт */
    font-weight: bold !important; /* Жирность */
    text-align: center !important;
}
  
.role {
    font-size: 26px !important; /* Размер шрифта */
    font-family: "Comfortaa", sans-serif !important; /* Шрифт */
    font-style: italic !important; /* Курсив */
    color: black; /* Цвет */
    text-align: center;
}

.description {
    font-size: 26px !important; /* Размер шрифта */
    font-family: "Comfortaa", sans-serif !important; /* Шрифт */
    line-height: 1.5 !important; /* Высота строки */
    color: black; /* Цвет */
}

.skills {
    font-size: 26px !important; /* Размер шрифта */
    font-family: "Comfortaa", sans-serif !important;/* Шрифт */
    font-weight: 500 !important; /* Полужирный */
    color: black; /* Цвет */
    }
  