.name {
    font-size: 28px; /* Размер шрифта */
    font-family: "Comfortaa", sans-serif; /* Шрифт */
    font-weight: bold; /* Жирность */
    text-align: center;
}
  
.role {
font-size: 26px; /* Размер шрифта */
font-family: "Comfortaa", sans-serif; /* Шрифт */
font-style: italic; /* Курсив */
color: black; /* Цвет */
text-align: center;
}

.description {
font-size: 26px; /* Размер шрифта */
font-family: "Comfortaa", sans-serif; /* Шрифт */
line-height: 1.5; /* Высота строки */
color: black; /* Цвет */

}

.skills {
font-size: 26px; /* Размер шрифта */
font-family: "Comfortaa", sans-serif;/* Шрифт */
font-weight: 500; /* Полужирный */
color: black; /* Цвет */
}
  