.name {
    font-size: 1.9rem !important; 
    font-family: "Comfortaa", sans-serif !important; 
    font-weight: bold !important; 
    text-align: center !important;
}
  
.role {
    font-size: 1.6rem !important; 
    font-family: "Comfortaa", sans-serif !important; 
    font-style: italic !important;
    color: black; 
    text-align: center;
}

.description {
    font-size: 1.6rem !important; 
    font-family: "Comfortaa", sans-serif !important; 
    line-height: 1.5 !important; 
    color: black; 
}

.skills {
    font-size: 1.6rem !important; 
    font-family: "Comfortaa", sans-serif !important;
    font-weight: 500 !important; 
    color: black; 
    }

.card_style {
    width: 90vw !important; 
    max-width: 987px !important; 
    aspect-ratio: 19 / 14.5 !important; 
    background-color: #eaddff !important;
    border-radius: 20px !important;
    margin: auto !important;
    display: flex !important;
    flex-direction: row !important;
    overflow: hidden !important;
    transition: all 0.3s ease !important;
    
    @media (max-width: 768px) {
        width: 95vw !important; 
        flex-direction: column !important; 
    }
    }
      
      

.left_part {
    width: 46% !important;
    aspect-ratio: 41 / 61 !important; 
    margin: auto !important;
    display: flex !important;
    border-radius: 20px !important;
    margin-left: 2% !important; 
    margin-top: 4% !important;
  }
      
      
.right_part {
    flex: 1 !important; 
    padding: 2% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    margin-top: 5% !important;
    overflow: auto !important;

    @media (max-width: 768px) {
        padding: 2% !important;
    }
}

.divider {
    border-bottom-width: 2px !important;
    border-color: black !important
}

