:root {
  // Fonts
  --primary-font: 'Comfortaa', cursive;
  --secondary-font: "Archivo Black", sans-serif;

  // Sizes
  --base-spacing: 16px;
  --border-radius: 8px;

  // Default light theme variables
  --primary-color: #9b59b6; 
  --background-color: #F2F0F0;
  --background-color-none-use: #dddddd;
  --background-color-lilac: #eaddff;
  --black: #000;
  --secondary-color: #fff;
  --pink: #B13EEA;
}

html.theme-dark {
  --primary-color: #8e44ad;
  --background-color: #2A2431;
  --background-color-none-use: #333333;
  --black: #fff;
  --secondary-color: #ccc;
  --pink: #CA71F6;
}

