.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: var(--background-color);
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;

  .content {
    max-width: 750px;
    width: 100%;
    
    h1 {
      font-family: var(--secondary-font);
      margin: 0 !important;
      font-size: 70px;
      line-height: 1.2;
      font-weight: bold;
      letter-spacing: 1px;
      color: var(--black);

      & .brand {
        color: var(--pink);
        position: relative;
        z-index: 2;

        &::before {  
          transform: scaleX(0);
          transform-origin: bottom right;
          content: " ";
          display: block;
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          inset: 0 0 0 0;
          background: hsl(200 100% 80%);
          z-index: -1;
          transition: transform .3s ease;
        }
        
        &:hover::before {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }

    p {
      font-family: var(--primary-font);
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 24px;
      color: var(--black);
      opacity: 0.6;
    }

    .button {
      display: inline-block;
      margin-top: 20px;
      padding: 15px 30px;
      background-color: #a152f0;
      color: #fff;
      font-size: 1rem;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: #8b3dcc;
        transform: scale(1.05);
      }
    }
  }

  .image {
    max-width: 650px;
    width: 100%;
    height: 400px;
    text-align: right;
    position: relative;

    img {
      max-width: 100%;
      height: auto;
    }

    &__table, &__person{
      position: absolute;
      top: 0%;
      left: 0%;
      z-index: 1;
    }

    &__table{

    }

    &__person{
      cursor: pointer;
      z-index: 2;
      left: 20%;
      top: -10%;
    }
  }
}

